<!DOCTYPE html>
<html>
<head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='main.css') }}">
</head>
<body>
    <!-- Navigation -->
    <nav class="basic-navigation">
      <div class="basic-navigation-container">
        <a class="menu-item" href="/">Home</a>
        <a class="menu-item" href="/about">About</a>
      </div>
    </nav>

<div class="out-wrapper">
  <div class="page-content" >
    {% block content %}
    {% endblock %}
  </div>
  <footer>
    <div class="footerLinks">
      <ul>
        <li><a href="#">LinkedIn</a></li>
        <li><a href="/about">Legal</a></li>
      </ul>
    </div>
    <div class="copyright">
      <p>Copyright Pablo G. Torres 2021</p>
      </div>
  </footer>
</body>
</html>